attrs==20.3.0
argparse
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
dnspython
idna==2.10
importlib-metadata==3.1.1
iniconfig==1.1.1
numpy==1.19.4
packaging==20.7
pandas==1.1.5
pika
pluggy==0.13.1
py==1.9.0
pydantic==1.7.3
pymongo==3.11
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.26.2
XlsxWriter==1.3.7
zipp==3.4.0
